asgiref==3.2.7
boto3==1.13.19
botocore==1.16.19
Django==3.0.6
django-cors-headers==3.3.0
djangorestframework==3.11.0
docutils==0.15.2
environ==1.0
jmespath==0.10.0
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2020.1
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
